// ******************** BODY********************
body {
    background-color: $primary-theme-color;
    font-family: $description-font;
    font-size: 19px;
    color: $secondary-font-color;
    letter-spacing: 0;
    text-transform: none;
}

// ********* Global *********


//Fonts
@font-face {
    font-family: "Caviar Dreams Bold";
    src: url(/fonts/CaviarDreams_Bold.ttf);
}

@font-face {
    font-family: "Metropolis1920";
    src: url(/fonts/Metropolis1920-Regular.ttf);
}


//Header
h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    font-weight: 700;
    text-transform: uppercase;
    color: $theme-font-color;
    margin: 0;
}

h1, h6 {
    letter-spacing: .22em;
}

h1 {
    font-size: 48px;
    line-height: 1.27em;
}

h2 {
    font-size: 41px;
    line-height: 1.31em;
    letter-spacing: .23em;
}

h5 {
    font-size: 19px;
    line-height: 1.52em;
}

h6 {
    font-size: 17px;
    line-height: 1.58em;
}

a {
    text-decoration: none;
}
//Text Decoration
.inspired {
    font-family: $inspired-font;
    font-size: 19px;
    font-weight: 400;
    color: $theme-font-color;
    line-height: 28px;
    letter-spacing: .04em;
    text-transform: none;
    display: block;
    margin-bottom: 13px;
}

.top-title {
    text-align: center;
    padding-top: 50px;
    margin: 40px auto;
}

.text-description {
    font-family: $description-font;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: none;
    color: $secondary-font-color;
}

//Button
.button {
    background-color: transparent;
    font-family: $navbar-font;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: $secondary-font-color; 
    line-height: 2em;
    letter-spacing: .36em;
    padding: 9px 39px;
    display: inline-block;
    vertical-align: middle;
    border: solid 1px $theme-font-color;
    margin: 0 auto;
    cursor: pointer;
}

.button:hover {
    text-decoration: none;
}