//Fonts
@font-face {
    font-family: "Caviar Dreams Bold";
    src: url(/fonts/CaviarDreams_Bold.ttf);
}

@font-face {
    font-family: "Metropolis1920";
    src: url(/fonts/Metropolis1920-Regular.ttf);
}

body {
    background-color: $theme-color;
}

.dropdown {
    font-family: 'Josefin Sans', sans-serif;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.submenu {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    font-family: 'Josefin Sans', sans-serif;
}

.dropdown:hover > .submenu {
    display: block;
}
