// ******************** BODY********************
body {
    background-color: $primary-theme-color;
    color: white;
}

// ********* General using purpose *********

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    color: $theme-font-color;
}

span.inspired {
    font-family: $inspired-font;
    color: $theme-font-color;
}

.top-title {
    text-align: center;
    padding-top: 50px;
    margin: 40px auto;
}

// ******************** NAV BAR ********************

.dropdown {
    font-family: $description-font;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.submenu {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    font-family: $description-font;
}

.dropdown:hover > .submenu {
    display: block;
}

// ******************** ABOUT US ********************

#about {
    height: 200px;
    width: 400px;
    margin: 20px auto;
}


.description{
    font-family: $description-font;
}

// ******************** ICONIC PICTURE ********************


#iconic-pic {
    margin: 0;
    padding: 0;
}

#iconic-pic > div > img {
    max-width: 100%;
}

// ******************** RATING ********************

#rating {
    margin: 50px 0px;
}

#rating > div {
    padding: 0;
}

#rating > div > img {
    max-width: 100%;
}

#quote {
    background-color: $secondary-theme-color;
    max-width: 100%;
}

#quote > p {
    font-size: 5rem;
    margin: 50px 0px 0px 0px ;
}

// SLIDE SHOW

#slideshow-container {
    padding: 10px 20px;
    text-align: center;
}

#num-container {
    text-align: center;
    padding: 20px;
}

.num {
    cursor: pointer;
    margin: 0 5px;
    display: inline-block;
}

.active, .num:hover {
    color: $theme-font-color;
    font-weight: bold;
    text-decoration: underline;
}

// ******************** RECOMMENDATION (DECOR) ********************

#recommendation {
    margin-bottom: 50px;
}

#recommendation > div {
    margin: 0;
    padding: 0;
}

#recommendation > div > img {
    max-width: 100%;
}

#r-content button {
    background-color: $primary-theme-color;
    height: 50px;
    width: 150px;
    color: #fff;
    display: block;
    margin: 0 auto;
    border: solid 1px $theme-font-color;
}

// ********************  MENU CONTENT ********************

.menu {
    background-color: $secondary-theme-color;
    max-width: 100%;
    padding-bottom: 20px;
}

.menu > button {
    background-color: $primary-theme-color;
    height: 50px;
    width: 150px;
    color: #fff;
    display: block;
    margin: 35px auto;
    border: solid 1px $theme-font-color;
}

.menu-content > div {
    padding: 0;
}

.pricing-item {
    margin: 10px 0px 10px 20px;
}

.pricing-main {
    margin: 5px auto;
}

.pricing-main > h6 {
    display: inline-block;
    font-size: 1.5rem;
}

.pricing-price {
    float: right;
    font-family: $header-font;
    color: $theme-font-color;
}

.pricing-desc > p {
    display: inline-block;
}

// ******************** OUR TIPS (DECOR) ********************

#our-tips {
    max-width: 100%;
    margin: 50px auto;
}

#our-tips > div {
    padding: 0;
}

.tips-pic img{
    max-width: 100%;
    width: 70%;
}

.t-content {
    width: 65%;
}

// ******************** PARALLAX EFFECT ********************
.p-img {
    background-image: url(/images/main-background-5.jpg);
    min-height: 600px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

// ******************** MENU MEAL ORDER ********************

.menu-order {
    max-width: 100%;
    margin: 50px auto;
}

.order-wrapper > img{
    max-width: 100%;
    width: 70%;
}

.text-order-wrapper{
    margin: 40px auto;
}

.text-order-wrapper a {
    text-decoration: none;
    color: #fff;
}

// ******************** BOOK A TABLE ********************

.reservation {
    background-color: $secondary-theme-color;
    max-height: 100%;
}

.form-wrap > div {
    margin: 20px 50px;
}

.form-wrap button {
    background-color: $secondary-theme-color;
    height: 50px;
    width: 150px;
    color: #fff;
    display: block;
    margin: 0 auto;
    border: solid 1px $theme-font-color;
}

#person {
    overflow: scroll;
}

// ******************** FOOTER ********************

footer {
    height: 400px;
}

.footer-wrap a {
    text-decoration: none;
    color: #fff;
}

.footer-wrap a:hover {
    color: $theme-font-color;
}

.info{
    line-height: 1.6em;
    margin-top: 100px;
}

.social a {
    margin: 20px 20px;
}