//============
//  Color ==
//=========

// Background color
$primary-theme-color:#0b1315; 
$secondary-theme-color: #0f1d22;

// Text color
$theme-font-color: #c9ab81;
$border-box-color: #715b3e;
$secondary-font-color: #fff;

//============
//  Fonts ==
//=========

$inspired-font: 'Miniver', cursive;
$header-font: 'Caviar Dreams Bold';
$description-font: 'Josefin Sans', sans-serif;
$navbar-font: 'Open Sans Condensed', sans-serif;

//============================
//  Responsive breakpoints ==
//==========================

$phones: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;