@import "./base";
@import "./layout";
@import "./mixins";
// ******************** NAV BAR ********************

header {
    background-color: $primary-theme-color;
    padding: 2rem 0;
}

//Not display dot symbol
nav ul {
    list-style: none;
}

.navbar {
    font-family: $navbar-font;
    margin: 0;
    padding: 0;
}

.navbar li{
    position: relative;
    padding: 0;
    margin: 0;
}

.navbar a {
    color: $secondary-font-color;
    text-decoration: none;
    padding: 10px 1.5em;
    display: block;
    font-size: 17px;
    line-height: 28px;
}

// ******************** ABOUT US ********************

.about {
    padding-top: 153px;
}

// ******************** ICONIC PICTURE ********************

#iconic-pic {
    margin: 0;
    padding: 0;

    div img {
        max-width: 100%;
    }
}

// ******************** RATING ********************

#rating {
    margin: 50px 0px;

    // SLIDE SHOW
    .mySlide {
        background-color: $secondary-theme-color;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // height: 75vh;

        

        //SLIDESHOW CONTAINER
        .slideshow-container {
            
            .quotation-mark{
                display: block;
                margin: 0 auto;
                width: 35px;
                height: 33px;
                background-image: url(/assets/images/quote-mark.png);
                background-repeat: no-repeat;
            }

            .slide-contents p:first-child {
                font-family: $inspired-font;
                font-weight: 400;
                letter-spacing: .04em;
                color: #afb8b8;
                font-size: 22px;
                line-height: 39px;
                margin-top: 36px;
            }

            //NUMBER CONTAINER
            .num-container {
                text-align: center;
                padding: 20px;
                
                .num {
                    cursor: pointer;
                    margin: 0 5px;
                    display: inline-block;
                }
            }

            
        }
        
        //HOVER EFFECT
        .active, .num:hover {
            color: $theme-font-color;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    
    // RIGHT BACKGROUND PICTURE
    #rating-pic {
        background-image: url(/assets/images/main-img-4.jpg);
        background-position: center;
        background-size: cover;
        max-width: 100%;
        
    }
}

// ******************** RECOMMENDATION ********************

.recommendation {
    margin: 0;
    padding: 160px 0;

    div > img {
        max-width: 100%;
    }

    //RIGHT CONTENT
    #r-content {
        padding-left: 50px;

        p{
            margin-bottom: 45px;
        }

    }
}

// ********************  MENU CONTENT ********************

.menu {
    background-color: $secondary-theme-color;
    max-width: 100%;
    padding-bottom: 20px;

}

.menu-content {
    margin: 0;
}

.pricing-item {
    margin-bottom: 37px;
}

.pricing-main {
    margin: 0;
}

.pricing-title{
    display: inline-block;
    white-space: nowrap;
    font-weight: 400;
}

.pricing-price {
    float: right;
    font-family: $header-font;
    font-weight: 400;
    font-size: 19px;
    line-height: inherit;
    color: $theme-font-color;
}

.pricing-desc {
    font-family: $description-font;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 0;
    margin-top: 4px;
    text-transform: none;
    color: $secondary-font-color;
    
}

.button-container {
    padding-top: 35px;
    padding-bottom: 160px;
}

// ******************** FOOD PHILOSOPHY ********************

.food-philo {
    max-width: 100%;
    padding: 160px 0;
}

.tips-pic img{
    max-width: 100%;
}

.t-content .button {
    line-height: 2.3em;
    padding-bottom: 4px;
    border: none;
    text-decoration: underline;
}

.button:hover {
    color: $theme-font-color;
}

// ******************** PARALLAX EFFECT ********************
.p-img {
    background-image: url(/assets/images/main-background-5.jpg);
    min-height: 600px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

// ******************** MENU MEAL ORDER ********************

.menu-order {
    padding-bottom: 152px;
}

.order-wrapper > img{
    width: 90%;
}

.text-order-wrapper{
    margin: 40px auto;
}

.text-order-wrapper a {
    text-decoration: none;
    color: $secondary-font-color;
}

// ******************** BOOK A TABLE ********************

.reservation {
    background-color: $secondary-theme-color;
    max-height: 100%;
    padding-top: 115px;
    padding-bottom: 110px;
}

.form-wrap button {
    background-color: $secondary-theme-color;
    font-family: $navbar-font;
    height: 50px;
    width: 150px;
    color: $secondary-font-color;
    display: block;
    margin: 0 auto;
    border: solid 1px $theme-font-color;
}

// Reset Select 

select {
    appearance: none;
    outline: 0;
    border: solid 1px $border-box-color !important;
    background: $secondary-theme-color;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: $secondary-font-color;
    cursor: pointer;
}

.box {
    position: relative;
    display: flex;
    width: 150px;
    height: 50px;
    background-color: $secondary-theme-color;
    overflow: hidden;
}

.box::after {
    content: '\25BC';
    position: absolute;
    top: 20%;
    right: 5%;
    padding: 0 .5em;
    background: $secondary-theme-color;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.box:hover::after {
    color: $theme-font-color;
}

#date-book {
    display: block;
    height: 50px;
    width: 150px;
    background-color: $secondary-theme-color;
    border: solid 1px $border-box-color;
    color: $secondary-font-color;
}


// ******************** FOOTER ********************

footer {
    height: 300px;

    .footer-wrap  {
        a {
            text-decoration: none;
            color: $secondary-font-color;

            &:hover {
                color: $theme-font-color;
            }
        }
        
    }

    .info{
        line-height: 1.6em;
        margin-top: 100px;
    }

    .social a {
        margin: 20px 20px;
    }
}




// Scroll To Top Button 
#topBtn {
    display: none;
    cursor: pointer;
    position: fixed;
    background-color: $primary-theme-color;
    color: $secondary-font-color;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    padding: 15px;
    border: solid 1px $theme-font-color;
    border-radius: 60%;
    &:hover{
        color: $theme-font-color;
    }
}